{include file="header"}

<ul class="layui-nav layui-nav-tree" lay-filter="test" style="height: 100%;position:absolute;top: 0;padding-top: 60px" id="menu">
    <li class="layui-nav-item type-all" data-type="0"><a href="javascript:;">管理用户</a></li>
    <li class="layui-nav-item type-image" data-type="1"><a href="javascript:;">管理文件</a></li>
    <li class="layui-nav-item type-document" data-type="2"><a href="javascript:;">管理分享</a></li>



</ul>
<div class="container">
    <div class="container-top">
        <button type="button" class="layui-btn   layui-btn-normal layui-btn-sm" id="upload">
            <i class="layui-icon">&#xe67c;</i>上传文件
        </button>

        <div class="search" >
            <div class="layui-input-inline"><input type="text" id="search-content" class=" layui-input " placeholder="搜索您的文件" ></div>
            <i class="layui-icon " id="search" style="float:right;color:#999;margin-right:10px">&#xe615;</i>
        </div>
    </div>

</div>
</body>
</html>