<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="__STATIC__/jquery/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>

    <script src="__STATIC__/js/index.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/share.css">
</head>
<body>
<ul class="folderlist layui-table" style="list-style: none">

</ul>
<script>
    $(function () {
        function showfolder(path) {
            $.get('showfolder', {path: path}, function (data) {
                data.forEach(function (value, index) {
                    $('.folderlist').append('<li id=' + value.folderid + '><i style="font-size: 25px;\n' +
                        '    color: burlywood;\n' +
                        '    margin-right: 10px;\n' +
                        '    position: relative;\n' +
                        '    top:2px;" class="layui-icon fileicon">&#xe622;</i><span class="name">' + value.foldername + '</span></li>'
                    )


                })
            },'json')
        }
        showfolder(0)
    })
</script>
</body>
</html>