{include file="header"}

<ul class="layui-nav layui-nav-tree" lay-filter="test" style="height: 100%;position:absolute;top: 0;padding-top: 60px" id="menu">
    <li class="layui-nav-item type-all" data-type="0"><a href="javascript:;">全部文件</a></li>
    <li class="layui-nav-item type-image" data-type="1"><a href="javascript:;">图片</a></li>
    <li class="layui-nav-item type-document" data-type="2"><a href="javascript:;">文档</a></li>
    <li class="layui-nav-item type-music" data-type="3"><a href="javascript:;">音乐</a></li>
    <li class="layui-nav-item type-video" data-type="4"><a href="javascript:;">视频</a></li>
    <li class="layui-nav-item type-other" data-type="5"><a href="javascript:;">其他</a></li>
    <li class="layui-nav-item sharetable" data-type="share"><a href="javascript:;">我的分享</a></li>
    <li class="layui-nav-item bintable" data-type="bin"><a href="javascript:;">回收站</a></li>
</ul>
<div class="container">
    <div class="container-top">
        <button type="button" class="layui-btn   layui-btn-normal layui-btn-sm" id="upload">
        <i class="layui-icon">&#xe67c;</i>上传文件
        </button>
        <input type="file" id="uploadfile" hidden>
        <button class="layui-btn layui-btn-normal layui-btn-sm" id="cannelShare" style="float: left;margin-left: 10px;margin-bottom: 5px">取消分享</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm" id="recycle" style="float: left;margin-left: 10px">还原</button>
        <button class="layui-btn layui-btn-primary layui-btn-sm" id="newFolder"> <i class="layui-icon">&#xe7a0;</i>新建文件夹</button>
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-primary layui-btn-sm" id="download"><i class="layui-icon" >&#xe61e;</i>下载</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" id="share"><i class="layui-icon">&#xe64c;</i>分享</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" id="delete"><i class="layui-icon">&#xe640;</i>删除</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" id="rename" >重命名</button>
            
        </div>
        <div class="search" >
        <div class="layui-input-inline"><input type="text" id="search-content" class=" layui-input " placeholder="搜索您的文件" ></div>
        <i class="layui-icon " id="search" style="float:right;color:#999;margin-right:10px">&#xe615;</i>
    </div>
        <button type="button" class="layui-btn   layui-btn-normal layui-btn-sm" id="clearall"  style="float: right;margin-right: 15px;margin-bottom: 5px">
            <i class="layui-icon">&#xe640;</i>清空回收站
        </button>
    </div>
    <div class="filelist">
        <span class="layui-breadcrumb">
            <a href="{:url('index/index?path=0')}">全部文件</a>

            <a><cite>正文</cite></a>
       </span>

    </div>
    <div class="fileshow">
        <table class="layui-table"  id="file-table">
            <thead>
            <tr>
                <th style="width: 600px">文件名</th>
                <th style="width: 220px;" >大小</th>
                <th id="time">创建时间</th>
            </tr>
            </thead>
        </table>

    </div>
</div>

<script>
    $(function(){
        var names
        var layer
        layui.use('layer',function () {
            layer = layui.layer
        })
        //新建文件夹
        $('#newFolder').click(function(){
            if ($('.btn-folder').length>0){
                return
            }
            $('#file-table').prepend('<tr class="tr">\n' +
                '                <td ><i class="layui-icon fileicon" >&#xe622;</i>\n' +
                '                    <span>\n' +
                '                        <input type="text" name="filename" id="inputfilename" value="新建文件夹">\n' +
                '                        <span id="confirm" class="btn-folder"><i class="layui-icon">&#xe605;</i></span>\n' +
                '                        <span id="cancel" class="btn-folder"><i class="layui-icon">&#x1006;</i></span>\n' +
                '                    </span>\n' +
                '                </td>\n' +
                '                </td>\n' +
                '                <td></td>\n' +
                '                <td></td>\n' +
                '            </tr>')
        })
        $('#file-table').delegate('#cancel','click',function(){
            $(this).parent().parent().parent().remove()
        })
        $('#file-table').delegate('#confirm','click',function(){
            var foldername = $('#inputfilename').val()
            $.post('createFolder',{foldername:foldername,parentid:GetParam('path')},function (data) {
                if (data.code==0){
                    layer.msg('文件名已存在！')
                    return
                }
                getData(GetParam('path'))
            },'json');
        })

        //获取url参数
        function GetParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i")
            var r = window.location.search.substr(1).match(reg)
            if (r != null){
                return decodeURI(r[2])
            }else{
                return null
            }
        }
        //获取文件列表
        function getData(id) {
            $('.tr').remove()
            $('.layui-btn-group').show();
            $('#cannelShare').hide()
            $('#search').show()
            $('#upload').show()
            $('#recycle').hide()
            $('#newFolder').show()
            $('.search').show()
            $('#clearall').hide()
            $('.filelist').hide()
            $('.tr').remove()
            $('#time').text('创建时间')
            $('.layui-nav').find('li[data-type=0]').addClass('menu-active').siblings().removeClass('menu-active')
            history.replaceState({path:GetParam('path')},null,location.pathname + '?path='+id)
            $.get('showfolder',{path:id},function (data) {
               data.forEach(function (value, index) {
                   $('#file-table').prepend(' <tr class="tr folder" id='+value.folderid+' data-type="0">\n' +
                       '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div><i class="layui-icon fileicon">&#xe622;</i><span class="name">'+value.foldername+'</span></td>\n' +
                       '                <td></td>\n' +
                       '                <td>'+value.createtime+'</td>\n' +
                       '            </tr>')
               })
                $.get('showfile',{path:id},function (data) {
                    data.forEach(function (value, index) {
                        switch (value.filetype){
                            case 1:var icon = '<div class="icons icons-image"></div>';break;
                            case 2:var icon = '<div class="icons icons-documnet"></div>';break;
                            case 3:var icon = '<div class="icons icons-music"></div>';break;
                            case 4:var icon = '<div class="icons icons-video"></div>';break;
                            case 5:var icon = '<div class="icons icons-other"></div>';break;
                        }
                        switch (value.filesize<1000?1:(value.filesize<1000*1000?2:3)){
                            case 1:var size=value.filesize+'B';break;
                            case 2:
                                var num=(value.filesize/1000).toFixed(1);
                                var size=num+'K';break;
                            case 3:
                                var num=(value.filesize/1000000).toFixed(1);
                                var size=num+'M';break;
                            case 4:
                                var num=(value.filesize/1000000000).toFixed(1)
                                var size=num+'G';break;
                        }
                        $('#file-table').append(' <tr class="tr file" id='+value.fileid+' data-type='+value.filetype+'>\n' +
                            '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>'+ icon +'<span class="name">'+value.filename+'</span></td>\n' +
                            '                <td>'+size+'</td>\n' +
                            '                <td>'+value.createtime+'</td>\n' +
                            '            </tr>')
                    })
                },'json');
            },'json');
        }
        if(!GetParam('path')&&!GetParam('type')&&!GetParam('search')&&!GetParam('bin')&&!GetParam('share')){

            getData(0)
        }else if(GetParam('path')){
            getData(GetParam('path'))
        }
         else if(GetParam('type')){
            getTypeData(GetParam('type'))
        }
        else if(GetParam('search')){
            getSearch(GetParam('search'))
        }
        else if(GetParam('bin')){
            getBin()
        }else if(GetParam('share')){
            showShare()
        }

        function getTypeData(type) {
            $('.layui-btn-group').show();
            $('#search').hide()
            $('#upload').hide()
            $('#newFolder').hide()
            $('#cannelShare').hide()
            $('.search').hide()
            $('#recycle').hide()
            $('#clearall').hide()
            $('.filelist').hide()
            $('.tr').remove()
            $('#time').text('创建时间')
            $('.layui-nav').find('li[data-type='+type+']').addClass('menu-active').siblings().removeClass('menu-active')
            history.replaceState({type:type},null,location.pathname + '?type='+type)
                $.get('showtype',{type:type},function (data){
                    data.forEach(function (value,index) {
                        switch (value.filetype){
                            case 1:var icon = '<div class="icons icons-image"></div>';break;
                            case 2:var icon = '<div class="icons icons-documnet"></div>';break;
                            case 3:var icon = '<div class="icons icons-music"></div>';break;
                            case 4:var icon = '<div class="icons icons-video"></div>';break;
                            case 5:var icon = '<div class="icons icons-other"></div>';break;
                        }
                        switch (value.filesize<1000?1:(value.filesize<1000*1000?2:3)){
                            case 1:var size=value.filesize+'B';break;
                            case 2:
                                var num=(value.filesize/1000).toFixed(1);
                                var size=num+'K';break;
                            case 3:
                                var num=(value.filesize/1000000).toFixed(1);
                                var size=num+'M';break;
                            case 4:
                                var num=(value.filesize/1000000000).toFixed(1)
                                var size=num+'G';break;
                        }
                        $('#file-table').append(' <tr class="tr file" id='+value.fileid+' data-type='+value.filetype+'>\n' +
                            '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>'+ icon +'<span class="name">'+value.filename+'</span></td>\n' +
                            '                <td>'+size+'</td>\n' +
                            '                <td>'+value.createtime+'</td>\n' +
                            '            </tr>')
                    })
                },'json');
            }
        function getBin() {
            $('#time').text('删除时间')
            $('.layui-btn-group').hide();
            $('#search').hide()
            $('#upload').hide()
            $('#newFolder').hide()
            $('#cannelShare').hide()
            $('.search').hide()
            $('#recycle').show()
            $('#clearall').show()
            $('.filelist').hide()
            $('.tr').remove()
            $('.layui-nav').find('li[data-type="bin"]').addClass('menu-active').siblings().removeClass('menu-active')
            history.replaceState({bin:'bin'},null,location.pathname + '?bin=bin')
            $.get('showBin',function (data){
                data.forEach(function (value,index) {
                    switch (value.type){
                        case 0:var icon='<i class="layui-icon fileicon">&#xe622;</i>';break;
                        case 1:var icon = '<div class="icons icons-image"></div>';break;
                        case 2:var icon = '<div class="icons icons-documnet"></div>';break;
                        case 3:var icon = '<div class="icons icons-music"></div>';break;
                        case 4:var icon = '<div class="icons icons-video"></div>';break;
                        case 5:var icon = '<div class="icons icons-other"></div>';break;
                    }
                    if(value.hasOwnProperty('filesize')){
                        switch (value.filesize<1000?1:(value.filesize<1000*1000?2:3)){
                            case 1:var size=value.filesize+'B';break;
                            case 2:
                                var num=(value.filesize/1000).toFixed(1);
                                var size=num+'K';break;
                            case 3:
                                var num=(value.filesize/1000000).toFixed(1);
                                var size=num+'M';break;
                            case 4:
                                var num=(value.filesize/1000000000).toFixed(1)
                                var size=num+'G';break;
                        }
                    }
                    else var size=''

                    $('#file-table').prepend(' <tr class="tr" id='+value.bid+' data-type='+value.type+'>\n' +
                        '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>'+ icon +'<span class="name">'+value.name+'</span></td>\n' +
                        '                <td>'+size+'</td>\n' +
                        '                <td>'+value.createtime+'</td>\n' +
                        '            </tr>')
                })
            },'json');
        }
        $('.type-all').click(function () {
            getData(0)
            history.pushState({path:GetParam('path')},null,location.pathname + '?path='+GetParam('0'))
        })
        $('.type-document').click(function () {
            getTypeData(2)
            history.pushState({type:GetParam('type')},null,location.pathname + '?type='+GetParam('type'))
        })
        $('.type-image').click(function () {
            getTypeData(1)
            history.pushState({type:GetParam('type')},null,location.pathname + '?type='+GetParam('type'))
        })
        $('.type-music').click(function () {
            getTypeData(3)
            history.pushState({type:GetParam('type')},null,location.pathname + '?type='+GetParam('type'))
        })
        $('.type-video').click(function () {
            getTypeData(4)
            history.pushState({type:GetParam('type')},null,location.pathname + '?type='+GetParam('type'))
        })
        $('.type-other').click(function () {
            getTypeData(5)
            history.pushState({type:GetParam('type')},null,location.pathname + '?type='+GetParam('type'))
        })
        // $('.item_title').click(function () {
        //     getData(0)
        //     history.pushState({path:GetParam('path')},null,location.pathname + '?path='+GetParam('path'))
        // })
        $('.bintable').click(function () {
            getBin()
            history.pushState({bin:'bin'},null,location.pathname + '?bin=bin')

        })
        $('#search').click(function () {
            var search=$('#search-content').val()

            getSearch(search)
            history.replaceState({search:GetParam('search')},null,location.pathname + '?search='+search)
        })
        $('#rename').click(function () {
            if($('#inputfilename').length > 0){
                return
            }
            if($('.layui-form-checked').length==1){
                 names=$('.layui-form-checked').parent().children('span').text()
                $('.layui-form-checked').parent().children('span').html('<input type="text" name="filename" id="inputfilename" value='+names+'>\n' +
                    '<span class="nameconfirm btn-folder"><i class="layui-icon">&#xe605;</i></span>\n' +
                    '<span class="namecancel btn-folder"><i class="layui-icon">&#x1006;</i></span>')

            }
        })
        //重命名确认
        $('#file-table').delegate('.nameconfirm','click',function (ev) {
            var name= $('#inputfilename').val()
            var arr=Array()
            arr.push({
                type:$(this).parent().parent().parent().attr('data-type'),
                id:$(this).parent().parent().parent().attr('id'),
                name:name,

            })
            $('#name').html(name)
            $.post('rename',{arr:arr },function (data){
                if (data.code==0){
                    layer.msg('文件名已存在！')
                    return
                }
                else $('.layui-form-checked').parent().children('span').html(name)
            })
            ev.stopPropagation()
        })

        $('#file-table').delegate('.namecancel','click',function (ev) {
            $(this).parent().html(names)
            ev.stopPropagation()

        })
        $('#file-table').delegate('#inputfilename','click',function (ev) {
            ev.stopPropagation()
        })
        //监听历史回退
        window.addEventListener('popstate', function (e) {
            if(e.state.path){
                getData(e.state.path)
            }else if(e.state.type) {
                getTypeData(e.state.type)
            }else if(e.state.search){
                getSearch(e.state.search)
            }else if(e.state.bin){
                getBin()
            }else if(e.state.share){
                showShare()
            }
            console.log(e.state)
        });

        //点击上传按钮
        $('#upload').click(function () {
            $('#uploadfile').val('')
            $('#uploadfile').click()
        })

        //上传文件
        $('#uploadfile').change(function () {
            if(!this.value){
                return;
            }
            var formData = new FormData();
            formData.append("file",this.files[0]);
            formData.append("parentid", GetParam('path'));
            $.ajax({
                url : 'upload',
                type : 'POST',
                data : formData,
                processData : false,
                contentType : false,
                // xhr: function(){
                //     var xhr = $.ajaxSettings.xhr();
                    // if(xhr.upload) {
                    //     xhr.upload.addEventListener("progress" , onprogress, false);
                    //     return xhr;
                    // }
                // },
                success : function() {
                    getData(GetParam('path'))
                }
            });

        })

        //双击打开文件夹
        $('#file-table').delegate('tr.folder','dblclick',function(){
            getData(this.id)
            history.pushState({path:GetParam('path')},null,location.pathname + '?search='+GetParam('path'))
        })

        //单击选择或取消选择
        $('#file-table').delegate('.tr','click',function(ev){
            if($('#inputfilename').length>0){
                return
            }
            if($(this).find('.layui-form-checkbox').hasClass('layui-form-checked')){
                $(this).find('.layui-form-checkbox').removeClass('layui-form-checked')
                $(this).find('.url').hide()
            }else{
                $(this).find('.layui-form-checkbox').addClass('layui-form-checked')
                $(this).find('.url').show()
            }

        })

        //还原文件
        $('#recycle').click(function () {
            var arr = []
            $('.layui-form-checkbox').each(function () {
                if($(this).hasClass('layui-form-checked')){
                    if($(this).parent().parent().hasClass('folder')){
                        
                    }else{
                        arr.push({
                            id: $(this).parent().parent().attr('id'),
                            type: 1
                        })
                    }
                }
            })
            $.post('restore',{arr:arr},function (data) {
                getBin()
                history.pushState({bin:'bin'},null,location.pathname + '?bin=bin')

            });
        })

        $('#clearall').click(function () {

            $.post('deleteAll',function (data) {
                getBin()
                history.pushState({bin:'bin'},null,location.pathname + '?bin=bin')
            });
        })
        
        $('#delete').click(function () {
            var arr = []
            $('.layui-form-checkbox').each(function () {
                if($(this).hasClass('layui-form-checked')){
                    if($(this).parent().parent().hasClass('folder')){
                        arr.push({
                            id: $(this).parent().parent().attr('id'),
                            type: 0
                        })
                    }else{
                        arr.push({
                            id: $(this).parent().parent().attr('id'),
                            type: 1
                        })
                    }
                }
            })
            if(arr==null){
                return
            }
            else{
                $.post('Delete',{arr:arr},function (data) {
                    location.reload()
                });
            }
        })
        function openDownloadDialog(url, saveName)
        {
            if(typeof url == 'object' && url instanceof Blob)
            {
                url = URL.createObjectURL(url); // 创建blob地址
            }
            var aLink = document.createElement('a');
            aLink.href = url;
            aLink.target = "_blank";
            aLink.download = saveName || ''; // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，file:///模式下不会生效
            var event;
            if(window.MouseEvent) event = new MouseEvent('click');
            else
            {
                event = document.createEvent('MouseEvents');
                event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            }
            aLink.dispatchEvent(event);
        }
        function getSearch(search) {
            $('.tr').remove()
            $('#time').text('创建时间')
            $('.layui-btn-group').show();
            $('#search').hide()
            $('#upload').hide()
            $('#newFolder').hide()
            $('#search').show()
            $('#recycle').hide()
            $('#clearall').hide()
            $('.filelist').hide()
            $('.tr').remove()
            history.replaceState({search:search},null,location.pathname + '?search='+search)
            $.get('search',{search:search },function (data){
                data.forEach(function (value,index) {
                    switch (value.filetype){
                        case 1:var icon = '<div class="icons icons-image"></div>';break;
                        case 2:var icon = '<div class="icons icons-documnet"></div>';break;
                        case 3:var icon = '<div class="icons icons-music"></div>';break;
                        case 4:var icon = '<div class="icons icons-video"></div>';break;
                        case 5:var icon = '<div class="icons icons-other"></div>';break;
                    }
                    switch (value.filesize<1000?1:(value.filesize<1000*1000?2:3)){
                        case 1:var size=value.filesize+'B';break;
                        case 2:
                            var num=(value.filesize/1000).toFixed(1);
                            var size=num+'K';break;
                        case 3:
                            var num=(value.filesize/1000000).toFixed(1);
                            var size=num+'M';break;
                        case 4:
                            var num=(value.filesize/1000000000).toFixed(1)
                            var size=num+'G';break;
                    }
                    $('#file-table').append(' <tr class="tr file" id='+value.fileid+'>\n' +
                        '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>'+ icon +value.filename+'</td>\n' +
                        '                <td>'+size+'</td>\n' +
                        '                <td>'+value.createtime+'</td>\n' +
                        '            </tr>')
                })
            },'json');

        }
        $('#download').click(function () {
            if($('.layui-form-checked').length==1) {
                if ($('.layui-form-checked').parent().parent().attr('data-type') != 0) {
                    $.get('download',{id:$('.layui-form-checked').parent().parent().attr('id')},function (data) {
                        openDownloadDialog('../../'+data.url,data.name)
                    },'json')
                }
                else {
                    layer.msg("不支持下载文件夹")
                }
            }
            else if($('.layui-form-checked').length>1){
                layer.msg("不支持多文件下载")
            }
        })
        $('#share').click(function () {
            var arr = []
            if($('.layui-form-checked').length==1) {

                    if($('.layui-form-checked').parent().parent().hasClass('folder')){
                        arr.push({
                            id: $('.layui-form-checked').parent().parent().attr('id'),
                            type: 0
                        })
                    }else{
                        arr.push({
                            id: $('.layui-form-checked').parent().parent().attr('id'),
                            type: 1
                        })
                    }
            }else if($('.layui-form-checked').length>1){
                        layer.msg("暂不支持多个文件同时分享")
        }
            if(arr==null){
                return
            }
            else{
                $.post('addShare',{arr:arr},function (data) {

                },'json');
            }
        })

        function showShare() {
            $('.layui-btn-group').hide();
            $('#search').hide()
            $('#upload').hide()
            $('#cannelShare').show()
            $('#newFolder').hide()
            $('.search').hide()
            $('#recycle').hide()
            $('#clearall').hide()
            $('.filelist').hide()
            $('.tr').remove()
            $('.layui-nav').find('li[data-type="share"]').addClass('menu-active').siblings().removeClass('menu-active')
            history.replaceState({share:'share'},null,location.pathname + '?share=share')
            $.get('showShare',function (data){
                data.forEach(function (value) {
                    switch (value.type){
                        case 0:var icon='<i class="layui-icon fileicon">&#xe622;</i>';break;
                        case 1:var icon = '<div class="icons icons-image"></div>';break;
                        case 2:var icon = '<div class="icons icons-documnet"></div>';break;
                        case 3:var icon = '<div class="icons icons-music"></div>';break;
                        case 4:var icon = '<div class="icons icons-video"></div>';break;
                        case 5:var icon = '<div class="icons icons-other"></div>';break;
                    }
                    if(value.hasOwnProperty('filesize')){
                        switch (value.filesize<1000?1:(value.filesize<1000*1000?2:3)){
                            case 1:var size=value.filesize+'B';break;
                            case 2:
                                var num=(value.filesize/1000).toFixed(1);
                                var size=num+'K';break;
                            case 3:
                                var num=(value.filesize/1000000).toFixed(1);
                                var size=num+'M';break;
                            case 4:
                                var num=(value.filesize/1000000000).toFixed(1)
                                var size=num+'G';break;
                        }
                    }
                    else var size=''
                    var url='http://'+location.host+"/yun/public/index/share/share?path="+value.id+"&&type="+value.type

                    $('#file-table').prepend(' <tr class="tr" id='+value.sid+' data-type='+value.type+'>\n' +
                        '                <td><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>'+ icon +'<span class="name">'+value.name+'</span>' +
                        '<div class="url" style="display: none"><br><span>链接 ：<a href='+url+'>'+url+'</a></span></div></td>\n' +
                        '                <td>'+size+'</td>\n' +
                        '                <td>'+value.createtime+'</td>\n' +
                        '            </tr>')
                })
            },'json');
        }
        $('.sharetable').click(function () {
            showShare()
            history.pushState({share:'share'},null,location.pathname + '?share=share')
        })
        $('#cannelShare').click(function () {
            var arr = []
            $('.layui-form-checkbox').each(function () {
                if($(this).hasClass('layui-form-checked')){
                   var type= $(this).parent().parent().attr('data-type')
                    var id=$(this).parent().parent().attr('id')
                    arr.push({
                        id: id,
                        type: type
                    })
                }
            })
            $.post('deleteShare',{arr:arr},function () {
                location.reload()
            })
        })






    })
</script>
</body>
</html>